.banner-container {
    width: 100%;
}

.profile-banner {
    width: 100%;
    aspect-ratio: 7;
    margin: 0;
}

.profile-content {
    width: 100%;
    height: auto;
}

.profile-middle {
    background-color: #F6F6F6;
    padding-inline: 20px;
}

.left-section {
    height: fit-content;
}

.profile-intro {
    display: flex;
    height: 110px;
}

.profile-pic-container {
    width: 150px;
    aspect-ratio: 1 / 1;    
    transform: translateY(-50%);
}

.profile-pic {
    width: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.text-intro {
    margin-top: 8px;
    margin-left: 20px;
    width: 80%;
}

.intro-top-row {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.user-name {
    font-weight: 700;
    font-size: 1.8vw;
    line-height: 1.8vw;
}

.ant-btn-primary {
    background-color: #176a9f;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.ant-btn-primary:hover {
    background-color: #5ba4d0;
}

.round-btn {
    border-radius: 20px;
    width: 80px;
}

.user-job {
    font-weight: 600;
    font-size: 0.8vw;
}

.profile-article {
    padding-inline: 5px;
}

article {
    position: relative;
    width: 95%;
    height: 180px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline: 7px;
}

.article-title{
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 2px;
}

.article-content {
    display: flex;
    height: 110px;
    overflow-y: scroll;
    margin-bottom: 5px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 12px;
    text-indent: 15px;
}

.article-content::-webkit-scrollbar {
    display: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ededed;
    position: absolute;
    left: 0;
    top: 155px;
}

.article-control {
    width: 100%;
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
}

.left-control {
    width: 70%;
}

.article-btn {
    height: 20px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 25px;
    margin-bottom: 2.5px;
    margin-inline: 1px;
    border: 0;
    background-color: #f9fbfd;
    color: #468bda;
    font-weight: 500;
}

.article-btn:hover{
    cursor: pointer;
    background-color: steelblue;
    color: white;
}

.right-control {
    width: 25%;
    display: flex;
    justify-content: end;
    
}

.right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 15px;
}

.gallery-section {
    width: 82%;
}

.gallery-title {
    margin-top: 10px;
    font-weight: 700;
}

.gallery-container {
    aspect-ratio: 1;
}

.minified {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fit;
    transition: transform .2s;
    z-index: 50;
}

.rc-tl {
    border-top-left-radius: 8px;
}

.rc-tr {
    border-top-right-radius: 8px;
}

.rc-bl {
    border-bottom-left-radius: 8px;
}

.rc-br {
    border-bottom-right-radius: 8px;
}

.minified:hover {
    transform: scale(1.1);
    z-index: 100;
}

.view-more {
    text-align: right;
    font-weight: 700;
}

.video-iframe {
    width: 100%;
    aspect-ratio: 3 / 2;
    border: none;
    margin-bottom: 5px;
}
